
* {
  color: rgb(0, 0, 0);
  font-family: "Times New Roman", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

/* header */

header {
  background-color: #fab760a0;
  margin: 10px;
  padding: 5px;
  margin-bottom: -10px;
}

.subtitle {
  color: #110b03e1;
  font-size: larger;
  font-weight: bold;
}

nav {
  background-color: #ff770050;
  border: #744508a0;
  border-style:inset;
  text-align: right;
  padding-right: 30px;
  margin: 5px;
  
}

li {
  display: inline;
  margin: 10px;
}

.navlink {
  font-size: 16px;
  font-weight: bolder;
}

/* main */
main {
  background-color: #fab760a0;
  padding: 0px;
  margin: 10px;
  margin-bottom: -12px;
}



.img-container {
  position: relative;
  text-align: center;
}

.nomecafe {
  background: none;
  color: rgb(203, 203, 203);
  font-family: 'Courier New', Courier, monospace;
  font-size:36px;
  font-weight: bolder;
  position: absolute;
  top: 10%;
  left: 40%;
}

.slogan h5 {
  background-color: none;
  text-align: center;
  font-size: x-large;
  font-weight: 700;
  color: rgb(29, 17, 6);
}

.sobre {
  display: flex;
  padding: 3px;
  margin: -3px;
  padding-bottom: 70px;
}

.sobre .img-container {
  background-color: #ec9a3653;
  margin-right: -10px;
  flex-shrink: 1.5;
  width: 60%
}

.sobre .img-container img {
  position: relative;
  width:100%;
  margin-bottom: -3px;
}

.sobre .text {
  width:60%;
  margin-left: 10px;
  background-color: #ec9a3653;
}
.sobre .text .subtitle {
  text-align: center;
  font-size: x-large;
  background-color: #ff4d004f;
}

.sobre .text p {
  font-size: 20px;
  text-align: justify;
  max-height: 650px;
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* footer */

footer {
  background-color: #ff7700ae;
  padding: 10px;
  margin: 10px;
  margin-top: 12px;
  text-align: center;
}

@media only screen and (max-width:900px) {

nav
  {
  text-align: center;
  }

.navlink
  {
  font-size: 14px;
  font-weight: bolder;
  }

.sobre
  {
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;;
  }

.sobre .img-container
  {
  width: 100%;
  text-align: center;
  background-color: transparent;
  }

.sobre .img-container img

  {
  width: 80%;
  } 

.sobre .text
  {
  width:100%;
  text-align: center;
  margin-left: 0px;
  margin-top: 20px;
  }

.sobre .text p
  {
  font-size: 14px;
  max-height: 400px;
  }

}
