* {
  color: rgb(0, 0, 0);
  font-family: "Times New Roman", sans-serif;
  font-size: 14px;
  font-weight: 500;
  ;
}

body {
  background-color: #ffd39a;
  margin: 0px;
}

/* header */

header {
  background-color: #ffd39a;
  padding: 5px;
  margin-bottom: -10px;
  
}

.subtitle {
  color: #110b03e1;
  font-size: larger;
  font-weight: bold;
}

nav {
  background-color: #faa759;
  border: #744508;
  border-style:inset;
  text-align: right;
  padding-right: 30px;
  margin: 5px;
  
}

li {
  display: inline;
  margin: 10px;
}

.navlink {
  font-size: 16px;
  font-weight: bolder;
}

/* main */
main {
  background-color: #ffd39a;
  padding: 0px;
  margin: 10px;
  margin-bottom: -12px;
}

/* pedido */

.form {
  border: dotted 1px #744508;
  background-color: rgba(224, 146, 20, 0.229);
  padding: 5px;
}

#prato-principal {
  width: 98%;
}

.form h1 {
  font-size: 18px;
}

#hide {
  display: none;
}

.form-subtitle {
  font-weight: 700;
  background-color: #ff4d004f;
  border: dotted 1px;
}

label {
  display: inline-block;
  width: 120px;
  padding-right: 10px;
}


.item .textbox {
  width: 180px;
}

.comentario {
  width: 100%;
  margin-top: 10px;
}

#comentario {
  width: 98%;
}

.dados {
  display: block;
}

#dadosnome,
#morada {
  width: 70%;
}

.send {
  text-align: center;
  margin-bottom: 30px;
}

/* dados-cliente */



/* footer */

footer {
  background-color: #faa759;
  padding: 10px;
  margin: 10px;
  margin-top: 12px;
  margin-bottom: 0px;
  text-align: center;
}


/* mobile */

@media only screen and (max-width:480px) {

nav
  {
  justify-content: center;
  padding-right: 0%;
  }

ul 
  {
  padding-left: 0%;
  text-align: center;
  }

.navlink 
  {
  font-size: 10px;
  font-weight: bolder;
  }

}
