* {
  color: rgb(0, 0, 0);
  font-family: "Times New Roman", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

/* header */

header {
  background-color: #faa331a0;
  margin: 10px;
  padding: 5px;
  margin-bottom: -10px;
}

.subtitle {
  color: #110b03e1;
  font-size: larger;
  font-weight: bold;
}

nav {
  background-color: #faa331a0;
  border: #744508a0;
  border-style:inset;
  text-align: right;
  padding-right: 30px;
  margin: 5px;
  
}

li {
  display: inline;
  margin: 10px;
}

/* main */
main {
  background-color: #faa331a0;
  padding: 10px;
  margin: 10px;
  margin-bottom: -10px;
}


/* footer */

footer {
  background-color: #faa331a0;
  padding: 10px;
  margin: 10px;
  text-align: center;
}